{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

<div class="breadcrumbs">
<a class="item home" href="/">Home</a>
{% for crumb in crumbs offset: 1 %}
  {% assign title = crumb | replace:'-',' ' | remove:'.html' | capitalize %}
  <span class="separator">»</span>
  {% if forloop.last %}
    <span class="item current">{{ title }}</span>
  {% else %}
    <a class="item" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ title }}</a>
  {% endif %}
{% endfor %}
</div>