<div class="social-icons">
  <a href="https://www.linkedin.com/in/{{site.social.handles.linkedin}}/"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.facebook.com/{{site.social.handles.facebook}}"><i class="fab fa-facebook-square"></i></a>
  <a href="mailto:{{site.social.email}}"><i class="fas fa-envelope-square"></i></a>
  <a href="https://www.instagram.com/{{site.social.handles.instagram}}/"><i class="fab fa-instagram"></i></a>
  <a href="https://github.com/{{site.social.handles.github}}/"><i class="fab fa-github-square"></i></a>
  <a href="https://{{site.social.handles.itchio}}.itch.io/"><i class="fab fa-itch-io" data-fa-mask="fas fa-square" data-fa-transform="shrink-6"></i></a>
  <a href="https://play.google.com/store/apps/developer?id={{site.social.handles.google_play}}" ><i class="fab fa-google-play" data-fa-mask="fas fa-square" data-fa-transform="shrink-6"></i></a>
</div>