$grey: #50514f; //rgba(80, 81, 79, 100) // GREY
$red: #f25f5c; //rgba(242, 95, 92, 100) // RED
$yellow: #ffe066; //rgba(255, 224, 102, 100) // YELLOW
$blue: #247ba0; //rgba(36, 123, 160, 100)
$light_blue: #70c1b3; //rgba(112, 193, 179, 100)
$white: #fdfffc; // TEXT WHITE
$light_grey: #f9f9fb;
$off_grey: darken($light_grey, 10);
