#rocket {
  $size: 135px;

  position: fixed;

  z-index: 2;

  bottom: -$size;

  width: $size/3;
  height: $size;

  left: $first_section_width;

  pointer-events: none;

  svg {
    width: $size;
    height: $size;
    position: absolute;
    top: 0;
    left: -$size/2;
  }

  transition: left $animation-time;

  @media screen and (max-width: $break-medium) {
    left: 50%;
  }

  @media screen and (max-width: $break-small) {
    width: 100% !important;
    min-height: 100%;
    //height: auto;
  }

  //padding-left: -75px;

  @media screen and (max-width: $break-small) {
    display: none;
  }
}
