section {
  width: 50%;
  padding: 0;
  margin: 0;

  height: 100%;

  position: relative;

  @media screen and (max-width: $break-medium) {
    width: 50% !important;
  }

  @media screen and (max-width: $break-small) {
    width: 100% !important;
    min-height: 100%;
    //height: auto;
  }

  .loaded & {
    transition: width 1s;
  }
}

.avatar {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  border: 5px solid $white;
}

#sidebar {
  float: left;
  background-color: $blue;

  width: $first_section_width;

  color: $white;

  .about {
    .avatar {
      $time: 400ms;
      transition: max-width $time, max-height $time;

      .loaded &:hover {
        max-width: 250px;
        max-height: 250px;
      }

      @media screen and (max-height: $min-height) {
        width: 40%;
        height: 40%;
      }
    }

    padding-bottom: 40px;

    top: -60%;
    transform: translateY(-50%);

    position: relative;

    text-align: center;

    font-size: 34pt;

    a {
      color: $white;

      &:hover {
        color: $yellow;
      }
    }
  }

  .social-icons {
    position: absolute;
    bottom: 10px;

    @media screen and (max-width: $break-small) {
      bottom: 10px;
    }

    & a {
      vertical-align: bottom;
      transition: all 200ms;

      &:hover {
        font-size: 40pt;
        margin: 0 5px;
      }
    }

    right: 0;
    width: 100%;

    font-size: 20pt;

    text-align: center;

    opacity: 0;
  }
}

.indent {
  $size: 15px;
  padding-left: $size;

  @media screen and (max-width: $break-small) {
    padding-left: $size / 2;
  }
}

#content {
  padding: 0 $padding $padding;

  text-align: justify;

  @media screen and (max-width: $break-small) {
    overflow-y: unset !important;
    padding: 0 ($padding / 2) ($padding / 2);
  }

  @media screen and (max-width: $break-medium) {
    text-align: left;
  }

  &.with-sidebar {
    width: 100% - $first_section_width;
    float: right;
    overflow-y: auto;
  }

  &:not(.with-sidebar) {
    height: unset;
    margin: 0 auto;
  }

  #content-inner,
  &:not(.with-sidebar) {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: $padding;
    transition: opacity $animation-time;

    @media screen and (max-width: $break-small) {
      padding-bottom: $padding / 2;
    }

    opacity: 0;

    .loaded & {
      opacity: 1;
    }
  }
}

#footer {
  $color: darken($light_grey, 10);
  padding: 50px 0;
  border-top: 1px solid $color;
  width: 100%;
  height: unset;

  .content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .avatar {
    max-width: 100px;
    border: 2px solid $color;
  }

  .social-icons a {
    color: $color;
    &:hover {
      color: $blue;
    }
  }
}

.wrapper {
  height: 100%;
  overflow-y: auto;
}
