h1,
h2,
h3,
h4,
h5,
h6 {
  color: $red;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  margin-top: 2em;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
}

.font-smaller {
  font-size: 50%;
}

p {
  margin: 0 0 10px;
}

.no_word_break {
  white-space: nowrap;
}
