.hide-sm {
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

hr {
  border: none;
  border-top: 1px solid $off_grey;
  margin-top: 3.5em;
  width: 25%;
}
