$first_section_width: 40%;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$break-medium: $breakpoint-tablet; //990px;
$break-small: $breakpoint-mobile; //;512px;

$padding: 50px;
$min-height: 560px;

$animation-time: 1s;