---
layout: base
---

<div class="wrapper blog">
  <article id="content">
    <h1>{{ page.title }}</h1>
    {% include breadcrumbs.html %} 
    {{ content }}
  </article>

  <section id="footer">
    <div class="content">
      <img
        alt="{{ site.author }}"
        class="avatar"
        src="{{ 'assets/img/avatar.png' | relative_url }}"
      />

      <div>
        <div>{{ site.author }}</div>
        <div class="font-small">
          <span class="no_word_break">{{ site.position }}</span>
        </div>
      </div>

      {% include icons.html %}
    </div>
  </section>
</div>
