<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <script crossorigin="anonymous" defer
            integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
            src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
    {% feed_meta %}
    {% seo %}
</head>
<body>
  {{ content }}
  <script
    defer
    crossorigin="anonymous"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script defer src="{{ 'assets/js/instagramFeed.min.js' | relative_url }}"></script>
  <script defer src="{{ 'assets/js/scripts.js' | relative_url }}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script defer src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_token }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics_token }}');
  </script>
</body>
</html>