---
layout: base
---

<div id="rocket">{% include rocket.svg %}</div>

<section id="sidebar">
  <div class="about">
    <img alt="{{ site.author }}" class="avatar" src="{{ 'assets/img/avatar.png' | relative_url }}" />
    <p>
      Hello,<br />
      I am {{ site.author_short }}.<br />
      <span class="font-smaller">
        <span class="no_word_break">{{ site.position }}</span>
        <a href="{{ site.workplace.url }}" target="_blank" rel="noopener noreferrer">@{{ site.workplace.name }}</a>
      </span>
    </p>
  </div>

  {% include icons.html %}
</section>

<section id="content" class="with-sidebar">
  <div id="content-inner">{{ content }}</div>
</section>
